*.csv
*.ipynb
.vscode
.pytest_cache
env_src
*__pycache__*
app.log
data_bases/shops_database.duckdb
data_bases/shops_database.duckdb.wal
data_bases/shops_db.duckdb
.env
Data_quality_monitoring/airflow/logs
Data_quality_monitoring/data_quality_monitoring.egg-info
*log

airflow/logs/dag_processor_manager/dag_processor_manager.log
airflow/logs/scheduler/2025-08-19/dag.py.log
data_quality_monitoring.egg-info/dependency_links.txt
.gitignore
data_quality_monitoring.egg-info/requires.txt
data_quality_monitoring.egg-info/top_level.txt
data_quality_monitoring.egg-info/SOURCES.txt
data_quality_monitoring.egg-info/PKG-INFO
airflow/logs/scheduler/2025-08-19/dag.py.log
airflow/logs/dag_processor_manager/dag_processor_manager.log
airflow/logs/scheduler/2025-08-19/dag.py.log
airflow/logs/dag_processor_manager/dag_processor_manager.log
airflow/logs/scheduler/2025-08-19/dag.py.log
airflow/logs/dag_processor_manager/dag_processor_manager.log
